<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.mystore.utilities.ExtentListenerClass"></listener>
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.mystore.testcases.TC_MyAccountPageTest" />
			<class name="com.mystore.testcases.TC_ProductPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
